# All Dogs
{%- for dog,value in dogsList.items() %}
## {{ dog }}
{%-     for subdog in value if value %}
### {{ subdog }}
{%-     endfor %}
### Photos
{%-     for photo in photos %}
{%-         for url in photo %}
{%-             if dog in url %}
#### [Link]({{ url }})
{%-             endif %}
{%-         endfor %}
{%-     endfor %}
{%- endfor %}